@media screen and (max-width: 1500px) {
	.product-item-bottom {
		display: block;
	}
	.product-item-bottom .product-price {
		margin-bottom: 10px;
	}
}
@media screen and ( max-width: 1024px ){
	.search-form-outer .search-form input {
	    width: 350px;
	}
	.slider-item-outer .slider-content .slider-title {
	    font-size: 50px;
	    margin-bottom: 20px;
	    line-height: 50px;
	}

	.slider-item-outer .slider-content .slider-des {
	    font-size: 25px;
	    margin-bottom: 30px;
	}
	.slider-content .form-subcriber .subcriber-btn {
	    right: 0;
	}
	.banner-item-outer .banner-content h4 {
	    font-size: 21px;
	    line-height: 26px;
	    margin-bottom: 14px;
	}
	.product-content-outer .product-name {
	    font-size: 14px;
	}

	.product-item-bottom .product-price span {
	    font-size: 16px;
	}

	.product-item-bottom .add-cart .add-cart-btn {
	    padding: 6px 10px 6px 10px;
	}
}

@media screen and ( max-width:991px ){
	.banner-item-outer {
	    margin-bottom: 20px;
	}
	.footer-top-item-wrap {
	    margin-bottom: 20px;
	}
	.footer-item-wrap {
	    margin-bottom: 30px;
	}
	.product-item-bottom {
		display: flex;
	}
	.product-item-bottom .product-price {
		margin-bottom: 0;
	}
	.product-details-sidebar {
		margin-top: 20px;
	}
	.product-details-content .product-name {
		font-size: 22px;
	}	
	.product-details-content .shor-description {
		font-size: 14px;
		margin-bottom: 15px;
	}	
	.product-details-content .product-price span {
		font-size: 30px;
	}	
	.product-details-content .product-price .old-price {
		font-size: 16px;
	}
}

@media screen and ( max-width: 767px ){
	.search-form-outer .search-form input{
		width: 100%;
	}
	.responsive-header-search-outer {
	    display: block;
	}
	.header-top-wrapper {
	    padding: 15px 10px;
	}

	.category-icon-outer {
	    padding: 10px 20px;
	}
	.slider-item-outer img {
	    width: 100%;
	}
	.product-cart-item-title {
        display: none;
    }
	.cart-section-item-wrapper {
        display: none;
    }
	.cart-responsive-item-wrapper {
        display: flex!important;
    }
	.manu-wrapper .manu-list {
		flex-direction: column;
		position: fixed;
		right: -400px;
		top: 135px;
		padding-top: 30px;
		padding-left: 20px;
		display: block;
		width: 300px;
		height: 100vh;
		background: #ffffff;
		align-items: flex-start;
		z-index: 99;
		overflow: hidden;
		transition: all .5s ease;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.nav-toggle-btn{
		display: flex;
	}
	.header-bottom-wrapper {
		justify-content: space-between;
	}
	.manu-list .manu-list-item .manu-list-item-link {
		padding: 10px 0;
	}
	.product-details-content {
		margin-top: 10px;
	}
	.slider-items-wrapper .slick-dots {
		bottom: 10px;
	}
	.slider-items-wrapper .slick-dots li {
		width: 10px;
		height: 10px;
		margin-right: 5px;
	}
	.res-search-icon-outer{
		display: block;
	}
	.search-form-outer {
		position: absolute;
		top: -70px;
		z-index: 99;
		width: 100%;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease;
	}
	.search-form-outer.show {
		opacity: 1;
		visibility: visible;
		top: 80px;
	}
	.product-details-section {
        padding-top: 10px;
    }
    .product-images-slider-outer .slider-content {
        margin-bottom: 5px;
    }
    .product-images-slider-outer .slider-content img {
        margin: auto;
    }
    .product-images-slider-outer .slider-thumb img {
        max-width: 50px;
        height: 50px;
    }
    .product-details-content .product-name {
        font-size: 18px;
        margin-bottom: 0;
    }
    .product-details-content .product-price span {
        font-size: 25px;
    }
    .home-slider-section {
        padding: 5px;
    }
    .slider-item-outer img {
        border-radius: 5px;
    }
    .section-title-outer .title {
        font-size: 25px;
    }
    .categoris-slider-section {
        padding: 20px 0;
    }
}

@media screen and ( max-width:576px ){
	.slider-item-outer .slider-content .slider-title {
	    font-size: 40px;
	    margin-bottom: 10px;
	}

	.slider-item-outer .slider-content .slider-des {
	    font-size: 20px;
	}

	.slider-content .form-subcriber input {
	    height: 50px;
	}

	.slider-content .form-subcriber .subcriber-btn {
	    padding: 10px 15px;
	}
	.product-details-info {
		padding: 20px;
	}
	.nav-item-category-submenu {
		display: none!important;
	}
	.banner-section {
		display: none;
	}
	.product-section .col-sm-6 {
		width: 50%;
	}
	.product-details-info .nav-pills .nav-link {
        margin-bottom: 8px;
    }
}

@media screen and ( max-width: 450px ){
	.header-top-wrapper {
	    padding: 5px 0;
	}
	.slider-item-outer .slider-content .slider-title {
	    font-size: 30px;
	    line-height: 30px;
	}
	.slider-item-outer .slider-content .slider-des {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.product-incremnt-decrement-outer {
        display: none!important;
    }
    .purchase-info-outer .cart-btn-inner {
        width: 100%;
        margin-top: 5px;
    }
    .product-details-hot-line {
        width: 100%;
        margin-top: 10px;

    }
    button#pills-review-tab {
        display: none;
    }
    .product-details-info .nav-pills .nav-link,.product-details-info .nav-pills .nav-link.active {
        font-size: 12px;
        padding: 7px 8px;
    }
    .product-item-bottom {
        display: block;
        margin-top: 5px;
    }
    .product-item-bottom .add-cart .add-cart-btn {
        width: 100%;
        display: block;
        text-align: center;
    }
    .quick-order-btn-inner {
        margin-top: 5px;
        font-size: 14px;
    }
}

@media screen and ( max-width:340px ){
	.header-top-right-item {
	    padding: 0 5px 0 0;
	}
	.header-top-right-item-link .icon-outer i {
	    font-size: 16px;
	}
	.header-top-right-item-link .icon-outer .count-number {
	    width: 15px;
	    height: 15px;
	    font-size: 10px;
	    line-height: 15px;
	    top: -7px;
	}
	.header-top-right-item-link {
	    font-size: 14px;
	}
	.header-top-right-item:last-child {
	    padding: 0;
	}
}